.minesweeper{
    margin: auto;
    border: solid black 1px;
    padding: 0px 0px 0px 0px;
}

.minesweeper *{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.minesweeper td{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 24px;
    height: 24px;
    background-image: url('../img/hidden.png');
    background-size: cover;
}

.minesweeper .hidden{
    background-image: url('../img/hidden.png');
}

.minesweeper .flag{
    background-image: url('../img/flag.png');
}

.minesweeper .question{
    background-image: url('../img/question.png');
}

.minesweeper .mine{
    background-image: url('../img/mine.png');
}

.minesweeper .eight{
    background-image: url('../img/8.png');
}

.minesweeper .seven{
    background-image: url('../img/7.png');
}

.minesweeper .six{
    background-image: url('../img/6.png');
}

.minesweeper .five{
    background-image: url('../img/5.png');
}

.minesweeper .four{
    background-image: url('../img/4.png');
}

.minesweeper .three{
    background-image: url('../img/3.png');
}

.minesweeper .two{
    background-image: url('../img/2.png');
}

.minesweeper .one{
    background-image: url('../img/1.png');
}

.minesweeper .zero{
    background-image: url('../img/blank.png');
}

.minesweeper td:hover{
    cursor: pointer;
}

.popup{
    width: 200px;
    height: 200px;
    position: absolute;
    border: black solid;
    background-color: #fff;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
}

.popup button{
    margin-top: 10px;
}