.minesweeper{
    margin: auto;
    display: block;
}

.minesweeper #first-row{   
    width: 200px;
    height: 100px;
    margin: auto;
    position: relative;
}

.minesweeper #flag-counter{
    position: absolute;
    left: 0;
    bottom: 0;
}

.minesweeper #smiley{
    width: 96px;
    height: 96px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.minesweeper #smiley:hover{
    cursor: pointer;
}

.minesweeper #timer{
    position: absolute;
    right: 0;
    bottom: 0;
}

.minesweeper #table{
    margin: auto;
    border: solid black 1px;
    padding: 0px 0px 0px 0px;
}

.minesweeper td{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 48px;
    height: 48px;
    background-image: url('../img/hidden.png');
    background-size: cover;
}

.minesweeper .hidden{
    background-image: url('../img/hidden.png');
}

.minesweeper .flag{
    background-image: url('../img/flag.png');
}

.minesweeper .question{
    background-image: url('../img/question.png');
}

.minesweeper .mine{
    background-image: url('../img/mine.png');
}

.minesweeper .eight{
    background-image: url('../img/8.png');
}

.minesweeper .seven{
    background-image: url('../img/7.png');
}

.minesweeper .six{
    background-image: url('../img/6.png');
}

.minesweeper .five{
    background-image: url('../img/5.png');
}

.minesweeper .four{
    background-image: url('../img/4.png');
}

.minesweeper .three{
    background-image: url('../img/3.png');
}

.minesweeper .two{
    background-image: url('../img/2.png');
}

.minesweeper .one{
    background-image: url('../img/1.png');
}

.minesweeper .zero{
    background-image: url('../img/blank.png');
}

.minesweeper td:hover{
    cursor: pointer;
}

.minesweeper .neutral{
    content: url('../img/neutral.png');
}

.minesweeper .happy{
    content: url('../img/happy.png');
}

.minesweeper .sad{
    content: url('../img/sad.png');
}

.minesweeper .counter{
    border: solid black 1px;
}

.popup{
    width: 450px;
    height: 450px;
    position: absolute;
    border: black solid;
    background-color: #fff;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
}

.popup *{
    font-size: 30px;
}

.popup textarea{
    width: 350px;
}

.popup button{
    margin-top: 30px;
}